header{
  width: 100%;
  height: 41px;
   background-color: aqua;
}
// hederi-თავი 
.conteiner-nav{
  position: relative;
  display: block;
  
  .logo{
      text-decoration: none;
      padding: 45px 0px 0px 5%;
      color: #f1f0f0;
      font-size: 22px;
      width: 76%;
      font-family: "h6";
  }
  
  .menu-navigation{
  padding: 45px 50px 0px 0px;
  right: 0;
  position: absolute;
  
  
  .menu-a{
    padding-left: 30px;
    text-align: center;
    color: #f1f0f0;
    height: 100%;
    width: 100%;
    text-decoration: none;}
  
  
  .dropdown {
    padding-left: 32px;
    justify-content:center;
    margin-right: 0px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0px 0px;
    padding-left: 3px;
    
    a{
      width: 100%;
      border-radius: 5px;
      margin-top: 35px;
      justify-content:center;
      display: flex;
      text-decoration: none;
      color: #f1f0ee;
    }
    a:hover{
    background-color: #ed7c03;
    }
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  }
  }



.heder-nav{
  display: none;
  width: 100% ;
  display: flex;
  flex-wrap: wrap;

  .logo{
    display: flex;
    text-decoration: none;
    padding: 45px 0px 0px 5%;
    color: #fff;
    font-size: 22px;
    width: 76%;
    font-family: "h6";
  }

  span{
    margin: 35px 0px 0px 0px;
    width: 100%;
    color: rgb(255, 255, 255);
    display: none;
    justify-content: end;
    
  }

  

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(102, 29, 29, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1efef;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

}
.piza-back{
  background-color: rgb(118, 119, 119);
  background-blend-mode: multiply;
  height: 900px;
  width: 100% ;
  background-position: center;
  background-size: cover;
  background-image: url("../img/pza.webp");
  h1{
    font-weight: 400;
    margin-top: 150px;
    font-family:"text2";
    text-align: center;
    font-size: 80px;
    color: #fff;
   }
  



.menu-piza{
  margin: 30px;
  display: flex;}
.menu-piza li{
    padding-right: 10px;
    list-style: none;
    position: relative;}
    li{
      list-style: none;
    position: relative;
    }
    .menu-piza a{
      color: rgb(12, 206, 54);
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    height:100%;
    line-height: 60px;
    transition: all .2s;}
    .menu-piza a:hover{
        background: rgb(28, 204, 66);
    }
    .menu-piza ul{
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        padding: 0;
    }
    .menu-piza li:hover ul{
        display: inline-block;
        width:100%;
        border:  solid rgb(0, 247, 255) 0px;
    }

      }
    
     
     h2{
      margin: 0px 0px;
      font-weight: 500;
      font-family: "H6";
      text-align: center;
      font-size: 36px;
      color: #fff;
     }
      h3{
        font-family: "H6";
        text-align: center;
        font-size: 25px;
        color: rgb(255, 255, 255);
      }
      h4{
        margin-top: 25px;
        font-family: "H6";
        text-align: center;
        font-size: 25px;
        color: #fff;
      }
      // gilaki
      .conteiner-buton{
        margin: 90px;
        display: flex;
        justify-content: center;
        
      .gilaki{
          text-align: center;
          border-radius: 20px;
          background-color: #ed7c03;
          text-decoration: none;
          padding: 15px 0px 0px 5px;
          height: 50px;
          width: 200px;
          color: rgb(247, 242, 242);
          font-weight: 700;
          font-family: "h6";
        }
      }
    // ბრენდების სია 
    .row{
      margin:  0px 0px 150px 0px;
      width: 100%;
      height: 100%;
      }

     .bu-box{
       filter: none;
       opacity: .5;
       filter: grayscale(100%);
     }
     .bu-box:hover{
       filter: none;
       opacity: 1;
       filter: grayscale(0%);
     }
     
     .bu-box{
       position: relative;
       width: 400px;
       height: 150px;
       color:  #bdbdbd;
       background-blend-mode: multiply;
     }
     .bu-box::after{
       content:"" ;
       position: absolute;
       width: 100%;
       height: 0.400rem;
       left: 0;
       bottom: 0;
      
     }
     .bu-box::after{
       transform: scale(0,1);
       transform-origin: 0% 100%;
       transition: transform 0.3s ease;
     }
     .bu-box:hover::after{
       transform: scale(1,1);
       background: #ffc400 ;
     }
     .texti{
       position: relative;
       width: 300px;
       height: 150px;
       
       .bu{
         top: 23px;
         left: 0;
         position: absolute;
         left: 5%;
       }
       h2{color: #bdbdbd;
         top: 60%;
         left: 30%;
         font-size: 14px;
         position: absolute;
       }
     h6{
       top: 23px;
       font-weight: 300px;
       font-size: 18px;
       position: absolute;
       left: 30%;
       color: #343434;;

       
     }
     .star-icon{
       top: 40%;
       left: 32%;
       position: absolute;
       width: 60px;
       height: 15px;
         }
   
      .star-icon-for{
       top: 40%;
       left: 32%;
       position: absolute;
       width: 80px;
       height: 15px;
      }
        
         }

    // ფასდაკლება 
    .conteiner{
      margin:  0px 0px 300px 0px;
      height: 100%;
      display: flex;
      width: 100%;
      justify-content: center;
      .conteiner-big{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
        
      
      .conteiner-img{
      width: 300px;
      height: 460px;
      background: url("../img/piza-2.webp");
      }
      .conteiner-img-2{
        
        width: 300px;
        height: 460px;
        background: url("../img/piza-3.webp");
      }
      .pasdakleba{
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color:rgba(255,132,0,0.8);
        height: 145px;
        width: 100%;
      }
      
     h1{
      font-family: "robo";
        padding: 20px;
        position: absolute;
        font-weight: 300px;
        color: #ffffff;
        font-size: 20px;
      }
      h2{
        font-weight: 400;
        padding: 50px;
        position: absolute;
        font-weight: 300px;
        color: #ffffff;
        font-size: 30px;
      }
      .pasdakleba-2{
        background-color: rgba(52,52,52,0.8);
        height: 145px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        h1{
        padding: 20px;
        position: absolute;
        font-weight: 300px;
        color: #ffffff;
        font-size: 20px;
        }
        h2{
          font-weight: 400;
          padding: 50px;
          position: absolute;
          font-weight: 300px;
          color: #ffffff;
          font-size: 30px;
        }
      }
      .text{position: relative;
        width: 470px;
        height: 460px;
        h1{
          margin: 0px 45px;
          position: absolute;
          top: 0px;
          font-size: 29px;
          color: #343434;
        }
        .About {
          bottom: 0;
          position: absolute;
        }
        p{
          font-family: "robo";
          color: #343434;
          line-height: 1.55555555;
          font-weight: 400;
          font-size: 18px;
          margin: 90px 60px;
       }
       a{
        text-decoration: underline;
        font-size: 18px;
        margin: 2px 60px;
        text-transform: capitalize;
        color: #ff8400;
        font-weight: 700;
        font-family: "robo";
       }
       a:hover{
        cursor: pointer;
        color: #343434;
        transition: .3s;
       }
      }}
    }
    // შეთავაზებები
    .menu-img{
      position: relative;
      height: 700px;
      width: 100%;
      background-image: url("../img/portolaxli.jpg");
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      }
      .menu-futer{
        bottom: 0;
        right: 0;
        background-color: #ff8400;
        position: absolute;
        width: 100%;
        text-align: center;
        height: 135px;

        a{text-decoration: none;
          font-weight: 900;
          font-family: "DRINK";
          text-transform: uppercase;
          letter-spacing: 3px;
          padding: 55px;
          color: #ffffff;
          font-size: 21px;
        }
      }
  
      .menu-img-2{
        position: relative;
        height: 700px;
        width: 100%;
        background-image: url("../img/pica_3.jpg");
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        }
        .menu-futer-2{
          bottom: 0;
          right: 0;
          background-color: #ff8400;
          position: absolute;
          width: 100%;
          text-align: center;
          height: 135px;

          a{text-decoration: none;
            font-weight: 900;
            font-family: "DRINK";
            text-transform: uppercase;
            letter-spacing: 3px;
            padding: 55px;
            color: #ffffff;
            font-size: 21px;
          }
        }
        .menu-img-3{
        position: relative;
        height: 700px;
        width: 100%;
        background-image: url("../img/pica_2.jpg");
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        }
        .menu-futer-3{
          bottom: 0;
          right: 0;
          background-color: #ff8400;
          position: absolute;
          width: 100%;
          text-align: center;
          height: 135px;

          a{text-decoration: none;
            font-weight: 900;
            font-family: "DRINK";
            text-transform: uppercase;
            letter-spacing: 3px;
            padding: 55px;
            color: #ffffff;
            font-size: 21px;
        }}
// chef 
.chef-h1{
  padding: 100px 0px 60px 0px;
  text-align: center;
  color: #ff8801;
  font-size: 45px;
  font-weight: 300;

 }


  .con-test-1{
   background: url("../img/pica_1.jpg");
   position: relative;
   width: 100%;
   height: 400px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;


   .chef{
    position: relative;
    margin: 15px 20px;
    border: solid 2px #ff8400;
    background-color: #ff8400;
    width: 150px;
    height: 40px;}

   a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    bottom: 0;
    position: absolute;
     color: #ffffff;
  }

   .pasi{
   bottom:  0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #ffffff;

    h2{ position: absolute;
      padding: 20px 50px;
      margin: 0 0 0 0;
      font-size: 15px;
      color: #343434;;
    }
    h3{
      padding: 50px 50px;
      position: absolute;
      margin: 0 0 0 0;
      font-size: 13px;
      color: #bdbdbd;
    }
    h4{
      right: 20px;
     top: 20px;;
     position: absolute;
     color: rgb(255, 146, 3);
      font-size: 15px;
      font-weight: 700;

    }
}}

  .con-test-2{
           background: url("../img/pica_2.jpg");
           position: relative;
          width: 100%;
          height: 400px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          .chef{
            position: relative;
            margin: 15px 20px;
            border: solid 2px #ff8400;
            background-color: #ff8400;
            width: 150px;
            height: 40px;}
        
           a{
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            bottom: 0;
            position: absolute;
             color: #ffffff;
          }
        
           .pasi{
           bottom:  0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 80px;
            background-color: #ffffff;
        
            h2{ position: absolute;
              padding: 20px 50px;
              margin: 0 0 0 0;
              font-size: 15px;
              color: #343434;;
            }
            h3{
              padding: 50px 50px;
              position: absolute;
              margin: 0 0 0 0;
              font-size: 13px;
              color: #bdbdbd;
            }
            h4{
              right: 20px;
              top: 20px;;
              position: absolute;
              color: rgb(255, 146, 3);
               font-size: 15px;
               font-weight: 700;

            }
          }
  }
  .con-test-3{
         background: url("../img/pica_3.jpg");
         position: relative;
         width: 100%;
         height: 400px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;

         .chef{
           position: relative;
           margin: 15px 20px;
           border: solid 2px #ff8400;
           background-color: #ff8400;
           width: 150px;
           height: 40px;}
       
          a{
           text-transform: uppercase;
           font-size: 15px;
           font-weight: 700;
           padding: 10px 15px;
           text-align: center;
           text-decoration: none;
           bottom: 0;
           position: absolute;
            color: #ffffff;
         }
       
          .pasi{
          bottom:  0;
           left: 0;
           position: absolute;
           width: 100%;
           height: 80px;
           background-color: #ffffff;
       
           h2{ position: absolute;
             padding: 20px 50px;
             margin: 0 0 0 0;
             font-size: 15px;
             color: #343434;;
           }
           h3{
             padding: 50px 50px;
             position: absolute;
             margin: 0 0 0 0;
             font-size: 13px;
             color: #bdbdbd;
           }
           h4{
            right: 20px;
            top: 20px;;
            position: absolute;
            color: rgb(255, 146, 3);
             font-size: 15px;
             font-weight: 700;

           }
         }}
  .con-test-4{
          background: url("../img/pica_4.jpg");
          position: relative;
          width: 100%;
          height: 400px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
         
          .chef{
            position: relative;
            margin: 15px 20px;
            background-color: #ff8400;
            width: 150px;
            height: 40px;}

        
           a{
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            bottom: 0;
            position: absolute;
             color: #ffffff;
          }
         
        }
        
           .pasi{
            bottom:  0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 80px;
            background-color: #ffffff;
        
            h2{ position: absolute;
              padding: 20px 50px;
              margin: 0 0 0 0;
              font-size: 15px;
              color: #343434;;
            }
            h3{
              padding: 50px 50px;
              position: absolute;
              margin: 0 0 0 0;
              font-size: 13px;
              color: #bdbdbd;
            }
            h4{
                right: 20px;
                top: 20px;;
                position: absolute;
                color: rgb(255, 146, 3);
                 font-size: 15px;
                 font-weight: 700;

            }}

// ზედა ფუტერი
.futer-up{
  display: block;
  background-color: #ff8400;
  height: 20%;
  width: 100%;
}
input[type=text], select {
  width: 100%;
  color: #fff;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 2px;
  background-color: #ed7c03;
  

  
}

.row{
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.emeil-text{
  display: flex;
 
}
.text-1{
  background-color: #ff8400;
  width: 100%;
  height: 150px;

  h1{
    margin-left: 30px;
    padding-top: 30px;
    color: #f1efef;
    font-size: 29px;
  }
  h6{
    padding-left: 30px;
    color: #f1efef;
    font-size: 15px;
  }
}
.text-2{
  width: 100%;
  height: 100%;
  padding-top: 0px;
  
}
.text-box{
  margin: 30px;
  display: flex;
}
.a-text{
  border-radius: 2px;
  background-color: floralwhite;
  text-decoration: none;
  padding:10px 0px 0px 0px ;
  text-align: center;
  margin-top: 9px;
  color: #ff8801;
  width: 300px;
  font-size: 16px;
  height: 46px;
 
}




// ქვედა ფუტერი
.futer{
  height: 100%;
  width: 100%;
  background-color: #343434;}


  .box{
    background-color: #343434;
    height:100%;
    width: 100%;


    .tex-box{
    margin: 5% 10% ;
    height: 100%;
    height: 100%;
    text-align: justify;

    h1{
      font-size: 29px;
      color: #fff;
   }
   p{
    color: rgb(255, 255, 255);
    font-size: 18px;
   }
    }
}
// blok-2
.box-2{
  background-color: #343434;
  height: 100%;
  width: 100%;


  .tex-box-2{
  margin: 5% 10% ;
  width: 300px;
  height: 100%;


  h1{
    display: flex;
    padding: 0px 0px 0px 0px;
    font-size: 29px;
    color: #fff;

 }
 h2{
  font-size: 13px;
  color: #fff;
 }
 h3{
  font-size: 13px;
  color: #fff;
 }
 h4{
  font-size: 13px;
  color: #fff;
 }
 h5{
  font-size: 13px;
  color: #fff;
 }
 p{
  color: rgb(255, 255, 255);
  font-size: 18px;
 }
  }}
// block-3
  .box-3{
    background-color: #343434;
    height: 100%;
    width: 100%;

    .tex-box-3{
    margin: 5% 10% ;
    height: 100%;
    height: 100%;

    h1{
      font-size: 29px;
      color: #fff;
   }
   p{
    color: rgb(255, 255, 255);
    font-size: 18px;
   }
    }}
       
      
      
